.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 6.8rem;
    color: #115cb7;
    font-size: large;
    padding-top: 1rem;
    border-top: #115cb7 groove 5px;
    border-bottom: #115cb7 groove 5px;
}